/*.advantages__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "item1 image1 image1"
    "item2 item3 item4"
    "image2 image2 item5";
  gap: 20px;
}

[data-grid-area="item1"] {
  grid-area: item1;
}
[data-grid-area="item2"] {
  grid-area: item2;
}
[data-grid-area="item3"] {
  grid-area: item3;
}
[data-grid-area="item4"] {
  grid-area: item4;
}
[data-grid-area="item5"] {
  grid-area: item5;
}
[data-grid-area="image1"] {
  grid-area: image1;
}
[data-grid-area="image2"] {
  grid-area: image2;
}*/
